__pycache__/
.vscode/
env*/

debug.log
db.sqlite3
requirements_dev.txt
requirements_commented.txt
local_dev_commands.txt

cloud_sql_proxy*
cloud_sql_proxy*.*
cloud-sql-proxy*
cloud-sql-proxy*.*

*.pyc
*.zip
*.exe

.git
.gitignore
.gcloudignore
