{% extends 'general_website/layout/base.html' %}
{% load i18n %}
{% load static %}


{% block content %}

<h1>Work in Progress</h1>
<p>Missing in general:</p>
<ul>
    <li>-</li>
    <li>provide profile information on bloodmallet.com</li>
    <li>generate filter ui on bloodmallet.com</li>
    <li>make value style ui visible on bloodmallet.com</li>
</ul>

<p>TODOs radar charts:</p>
<ul>
    <li>data (profile) selection</li>
    <li>maxima tooltips should include ratio</li>
</ul>

<div class="bloodmallet_chart" data-wow-class="shaman" data-wow-spec="elemental" data-type="secondary_distributions">
    Loading...</div>

<br />
<hr />
<p>TODOs bar charts:</p>
<ul>
    <li>bar-color review (gray is bad)</li>
</ul>
<div class="bloodmallet_chart" data-wow-class="shaman" data-wow-spec="elemental" data-type="trinkets"
    data-fight-style="castingpatchwerk" data-talent-target-scaling-min-target-count="1"
    data-talent-target-scaling-max-target-count="15" data-show-top="7" data-value-calculation="relative"
    data-language="en_US" data-filter-trinket-itemlevels="" data-filter-trinket-sources=""
    data-filter-trinket-active-passive="">Loading...
</div>

<div style="height: 40vh;"></div>

<div class="bloodmallet_chart" data-wow-class="shaman" data-wow-spec="elemental">Loading...</div>

<p>chart id b976f97f-5f5e-4d64-b3eb-406daa8856cc Aug Evoker Trinkets</p>
<div class="bloodmallet_chart" data-chart-id="b976f97f-5f5e-4d64-b3eb-406daa8856cc" data-value-calculation="relative"
    data-filter-trinket-itemlevels="483">
    Loading...</div>

<p>minimal ele</p>
<div class="bloodmallet_chart" data-wow-class="shaman" data-wow-spec="elemental">Loading...</div>

<div class="bloodmallet_chart" data-wow-class="shaman" data-wow-spec="elemental" data-type="races" data-show-top="-1">
    Loading...</div>

<div class="bloodmallet_chart" data-wow-class="shaman" data-wow-spec="elemental" data-type="phials">
    Loading...</div>
<div class="bloodmallet_chart" data-wow-class="shaman" data-wow-spec="elemental" data-type="potions">
    Loading...</div>
<div class="bloodmallet_chart" data-wow-class="shaman" data-wow-spec="elemental" data-type="talent_target_scaling">
    Loading...</div>
<div class="bloodmallet_chart" data-wow-class="shaman" data-wow-spec="elemental" data-type="weapon_enchantments">
    Loading...</div>


<p>maximum ele</p>
<div class="bloodmallet_chart" data-wow-class="shaman" data-wow-spec="elemental" data-type="trinkets"
    data-fight-style="castingpatchwerk" data-talent-target-scaling-min-target-count="1"
    data-talent-target-scaling-max-target-count="15" data-show-top="-1" data-value-calculation="absolute"
    data-language="cn_CN" data-filter-trinket-itemlevels="" data-filter-trinket-sources=""
    data-filter-trinket-active-passive="">Loading...
</div>
<!-- data-tooltip-engine="wowhead" -->

{% endblock %}

{% block extraimport %}
{% include 'general_website/layout/wowhead_tooltips.html' %}
<!-- <link rel="stylesheet" href="{% static 'general_website/css/bm-tooltips.css' %}" />
<script src="{% static 'general_website/js/bm-tooltips.js' %}"></script> -->

<link rel="stylesheet" href="{% static 'general_website/css/wowhead-tooltip-overrides.css' %}" />

<script src="{% static 'general_website/js/bm-utils.js' %}"></script>
<script src="{% static 'general_website/js/bm-charts.js' %}"></script>

<script>
    bm_import_charts();
</script>

{% endblock %}
