{% extends 'general_website/layout/base.html' %}
{% load i18n %}
{% load static %}


{% block content %}
<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" data-html="true"
    title="Tooltip on top">
    Bootstrap tooltip on top
</button>

<br />
<br />

<button type="button" class="btn btn-secondary" data-type="bm-tooltip" data-bm-tooltip-placement="top"
    data-bm-tooltip-text="Tooltip on top" title="Tooltip on top">
    Bloodmallet tooltip on top
</button>

<button type="button" class="btn btn-secondary" data-type="bm-tooltip" data-bm-tooltip-placement="top"
    data-bm-tooltip-text="<span style='color: aqua'>Tooltip on top</span>" title="Tooltip on top">
    Tooltip on top
</button>

<button type="button" class="btn btn-secondary" data-type="bm-tooltip" data-bm-tooltip-placement="bottom"
    data-bm-tooltip-text="<span style='color: aqua'>Tooltip on bottom</span>" title="Tooltip on bottom">
    Tooltip on bottom
</button>

<button type="button" class="btn btn-secondary" data-type="bm-tooltip" data-bm-tooltip-placement="left"
    data-bm-tooltip-text="<span style='color: aqua'>Tooltip on left</span>" title="Tooltip on left">
    Tooltip on left
</button>

<button type="button" class="btn btn-secondary" data-type="bm-tooltip" data-bm-tooltip-placement="right"
    data-bm-tooltip-text="<span style='color: aqua'>Tooltip on right</span>" title="Tooltip on right">
    Tooltip on right
</button>

<button type="button" class="btn btn-secondary" data-type="bm-tooltip"
    data-bm-tooltip-text="<span style='color: aqua'>Tooltip on Default</span>" title="Tooltip on Default">
    Tooltip on Default
</button>

<button type="button" class="btn btn-secondary" data-type="bm-tooltip" data-bm-tooltip-placement="top"
    title="Tooltip on top">
    No tooltip
</button>
{% endblock %}

{% block extraimport %}
<script src="{% static 'general_website/js/bm-tooltips.js' %}"></script>
<script>
    $('[data-toggle="tooltip"]').tooltip()
    bm_register_tooltips();
</script>
{% endblock %}
