{% extends 'general_website/layout/base.html' %}

{% load static %}
{% load i18n %}
{% load multiply %}

{% block extrahead %}
{% comment %} https://ogp.me/ {% endcomment %}
<meta property="og:type" content="website">
<meta property="og:site_name" content="bloodmallet">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
{% if chart %}
<meta property="og:title" content="{{ chart.wow_spec.name }} {{ chart.wow_class.name }} {{ chart.simulation_type.name }} {{ chart.fight_style.name }}">
{% else %}
<meta property="og:title" content="404 chart not found">
{% endif %}
<meta property="og:description" content="Data for all. Placeholder message until some backend changes happened, which allow the first few data points to appear here.">
{% comment %} <meta property="og:image" content="">
<meta property="og:image:width" content="360">
<meta property="og:image:height" content="50">
<meta property="og:image:type" content="image/png"> {% endcomment %}

{% endblock %}

{% block content %}

<h1 class=" display-4 mb-5 text-center">{% translate 'bloodmallet' %}</h1>

{% comment %}
<h3>{% translate 'Title' %}: <span id="title">~</span></h3>
{% endcomment %}

<div id="meta-group" class="mb-5">
    <div id="meta-info" data-chart-id="meta_{{ chart_id }}" class="accordion" hidden>
        <div class="card">
            <div class="card-header bg-dark" id="character-profile-label">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left caret" type="button" data-toggle="collapse" data-target="#character-profile" aria-controls="character-profile">
                    {% translate "Character profile" %}
                    </button>
                </h2>
            </div>

            <div id="character-profile" class="collapse" aria-labelledby="character-profile-label" data-parent="#meta-info">
                <div class="card-body">
                    <table class="table table-dark table-sm text-center">
                        <tbody>
                            <tr>
                                <td colspan="2" class="text-left align-middle">
                                    <span id="c_level">50</span>
                                    <span id="c_race">Race</span>
                                    <span id="c_spec">Spec &</span>
                                    <span id="c_class">Class</span>
                                </td>
                                <td colspan="2" id="c_talents" class="text-right align-middle">1231231</td>
                            </tr>
                            <tr>
                                <td class="align-middle" id="c_head">Head</td>
                                <td class="align-middle">{% translate "Covenant" %}</td>
                                <td class="align-middle" id="c_covenant">-</td>
                                <td class="align-middle" id="c_hands">Hands</td>
                            </tr>
                            <tr>
                                <td class="align-middle" id="c_neck">Neck</td>
                                <td class="align-middle">{% translate "Soulbind" %}</td>
                                <td class="align-middle" id="c_soul_bind">-</td>
                                <td class="align-middle" id="c_waist">Waist</td>
                            </tr>
                            <tr>
                                <td class="align-middle" id="c_shoulders">Shoulders</td>
                                <td colspan="2"></td>
                                <td class="align-middle" id="c_legs">Legs</td>
                            </tr>
                            <tr>
                                <td class="align-middle" id="c_back">Back</td>
                                <td colspan="2"></td>
                                <td class="align-middle" id="c_feet">Feet</td>
                            </tr>
                            <tr>
                                <td class="align-middle" id="c_chest">Chest</td>
                                <td colspan="2"></td>
                                <td class="align-middle" id="c_finger1">Ring</td>
                            </tr>
                            <tr>
                                <td colspan="3"></td>
                                <td class="align-middle" id="c_finger2">Ring</td>
                            </tr>
                            <tr>
                                <td colspan="3"></td>
                                <td class="align-middle" id="c_trinket1">Trinket</td>
                            </tr>
                            <tr>
                                <td class="align-middle" id="c_wrists">Wrists</td>
                                <td colspan="2"></td>
                                <td class="align-middle" id="c_trinket2">Trinket</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="align-middle" id="c_main_hand">Weapon</td>
                                <td class="align-middle" id="c_off_hand">Off-Hand</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header bg-dark" id="simulationcraft-settings">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed caret" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    {% translate "SimulationCraft settings" %}
                    </button>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="simulationcraft-settings" data-parent="#meta-info">
                <div class="card-body">
                    <table class="table table-dark table-sm">
                        <tbody>
                            <tr>
                                <td>{% translate "Fight style" %}</td>
                                <td id="c_fight_style"></td>
                            </tr>
                            <tr>
                                <td>{% translate "Iterations" %}</td>
                                <td id="c_iterations"></td>
                            </tr>
                            <tr>
                                <td>{% translate "PTR" %}</td>
                                <td id="c_ptr"></td>
                            </tr>
                            <tr>
                                <td>{% translate "SimulationCraft Hash" %}</td>
                                <td id="c_simc_hash"></td>
                            </tr>
                            <tr>
                                <td>{% translate "Target Error" %}</td>
                                <td id="c_target_error"></td>
                            </tr>
                            <tr>
                                <td>{% translate "Base profile" %}</td>
                                <td id="c_tier"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="chart_options" class="mt-3 row" hidden>
        <div class=" col-12 col-md-6">
            <button class="btn spec-btn {{ chart.wow_class.tokenized_name }}-button active" type="button">
                {% translate "Soulbinds" %}
            </button>
        </div>
        <div class=" col-12 col-md-6">
            <button class="btn spec-btn {{ chart.wow_class.tokenized_name }}-button" type="button">
                {% translate "Nodes" %}
            </button>
        </div>
    </div>
    <div id="value_style_switch" class="form-group form-check text-right" hidden>
        <input type="checkbox" class="form-check-input" id="relative_values">
        <label class="form-check-label text-muted" for="relative_values">{% translate "Use relative values" %}</label>
    </div>
    <div id="talent-warning" hidden>
        <h3>{% translate "Disclaimer" %}</h3>
        <p>{% translate "Talent simulations are quite fragile for the following reasons:" %}</p>
        <ul>
            <li>{% translate "Not all talent combinations might be equally supported by the APL." %}</li>
            <li>{% translate "Not all Fight styles might be supported equally." %}</li>
            <li>{% translate "Secondary stats aren't changed during simulation, but some talents might favor a different distribution." %}</li>
            <li>{% translate "Different Covenants might synergize with talents differently, but aren't changed during simulation." %}</li>
            <li>{% translate "Soulbinds might affect talents, but aren't changed during simulation." %}</li>
            <li>{% translate "Legendaries might support specific talents. So consider your result legendary specific." %}</li>
            <li>{% translate "Conduits might affect the worth of talents. But yet again Conduits aren't changed during this simulation." %}</li>
        </ul>
    </div>
    <div id="talent-table" hidden>
        <p>
            {% translate "All values in this table are gains." %}
        </p>
        <div class="table-responsive">
            <table class="table">
                <tbody>
                    {% for row in '1234567'|make_list %}
                        <tr>
                            <th scope="row">{% if row == '1' %}15{% else %}{{ row|multiply:"5"|add:"15" }}{% endif %}</th>
                            {% for column in '123'|make_list %}
                                <td id="{{ row }}{{ column }}">-</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="chart" class="bloodmallet_chart" data-chart-id="{{ chart_id }}" data-language="{{ LANGUAGE_CODE }}" data-entries="10000" data-background-color="transparent" data-value-style="absolute"></div>

<div id="post_chart" class="mt-5" hidden></div>

{% endblock %}

{% block extraimport %}

{% include 'general_website/layout/wowhead_tooltips.html' %}
{% include 'general_website/layout/chart_import.html' %}

<script>
function update_value_style() {
    const element = document.getElementById("relative_values");
    let chart = document.getElementById("chart");
    console.log(element, element.checked);
    if (element.checked) {
        chart.dataset.valueStyle = "relative";
    } else {
        chart.dataset.valueStyle = "absolute";
    }

    bloodmallet_chart_import();

}
document.addEventListener("DOMContentLoaded", function () {
    document.getElementById("relative_values").addEventListener("change", update_value_style);
});
</script>

{% endblock %}
