{% extends 'general_website/layout/base.html' %}

{% load static %}
{% load i18n %}

{% block content %}

<h1 class=" display-4 mb-3 text-center">{% translate 'bloodmallet' %}</h1>

{% comment %}
<h3>{% translate 'Title' %}: <span id="title">~</span></h3>
{% endcomment %}

<div id="chart" class="bloodmallet_chart" data-chart-id="{{ chart_id }}" data-language="{{ LANGUAGE_CODE }}" data-entries="100" data-background-color="transparent"></div>


{% endblock %}

{% block extraimport %}

{% include 'general_website/layout/wowhead_tooltips.html' %}
{% include 'general_website/layout/chart_import.html' %}

{% endblock %}
