{% extends 'general_website/layout/base.html' %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="row">
    <div class="offset-md-1 col-md-10 mt-5">
        <h2 id="what-is-bloodmallet" class="faq-question">What is bloodmallet.com?</h2>
        <p>
            bloodmallet.com offers DPS simulation data for everyone for World of Warcraft. Comparing different setups
            often requires simulations. To ease this need for information bloodmallet.com offers a wide range of
            prepared simulation data. This way you can get your overview a lot quicker and get back into the action
            faster.
        </p>
        <p>
            As with all prepared information, the exact context of your character is missing and that can change
            the outcome. Patrons of this project are able to create their own custom charts with their own character
            input. This way they can get a for them specific overview.
        </p>
        <p>If you enjoy this resource and want to see it continued, or want to create your own charts? Become a Patron:
        </p>
        <a href="https://www.patreon.com/bloodmallet">
            <img src="{% static 'general_website/assets/become_a_patron_button.png' %}"
                alt="{% translate 'Become a Patron' %}" height="42" style="vertical-align: text-top;" />
        </a>
    </div>
    <div class="offset-md-1 col-md-10 mt-5">
        <h2 id="data-generation" class="faq-question">How is the data generated?</h2>
        <p>
            <a href="http://www.simulationcraft.org/">SimulationCraft</a> is used to generate all the
            data you can find here. Creating the required input to run SimulationCraft and managing the process is done
            by the open source project <a href="https://github.com/Bloodmallet/bloodytools">bloodytools</a>.
        </p>
    </div>
    <div class="offset-md-1 col-md-10 mt-5">
        <h2 id="generation-settings" class="faq-question">What settings are used to create the data?</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Setting</th>
                    <th scope="col">CastingPatchwerk</th>
                    <th scope="col">HecticAddCleave</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Profile/Tier</th>
                    <td>T28 (Sepulcher of the First Ones)</td>
                    <td>T28 (Sepulcher of the First Ones)</td>
                </tr>
                <tr>
                    <th scope="row">Iterations</th>
                    <td>20000 (sufficient to reach target_error)</td>
                    <td>20000 (sufficient to reach target_error)</td>
                </tr>
                <tr>
                    <th scope="row">Target Error</th>
                    <td>0.1%</td>
                    <td>0.2%</td>
                </tr>
                <tr>
                    <th scope="row">Max Time</th>
                    <td>300 seconds</td>
                    <td>300 seconds</td>
                </tr>
                <tr>
                    <th scope="row">Vary Combat Length</th>
                    <td>20%</td>
                    <td>20%</td>
                </tr>
                <tr>
                    <th scope="row">Fixed Time</th>
                    <td>true</td>
                    <td>true</td>
                </tr>
                <tr>
                    <th scope="row">Default Actions</th>
                    <td>true</td>
                    <td>true</td>
                </tr>
                <tr>
                    <th scope="row">Optimize Expressions</th>
                    <td>true</td>
                    <td>true</td>
                </tr>
                <tr>
                    <th scope="row">Ready Trigger</th>
                    <td>true</td>
                    <td>true</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="offset-md-1 col-md-10 mt-5">
        <h2 id="up-to-date" class="faq-question">Are the charts up to date?</h2>
        <p>
            Each chart shows it's generation UTC date timestamp in its subtitle.
        </p>
    </div>
    <div class="offset-md-1 col-md-10 mt-5">
        <h2 id="trusting-these-charts" class="faq-question">Can I trust the general charts?</h2>
        <p>
            Yes-ish - they offer an overview. Your own equipment (e.g. legendary and trinkets) and talents make
            your character unique.
            Therefore, simming your own character is the most effective way to know which performs best. Become a patron
            to be able to create your own custom charts specific to your character.
        </p>
    </div>
    <div class="offset-md-1 col-md-10 mt-5">
        <h2 class="faq-question">{% translate "Google Analytics" %}</h2>
        <p>
            {% blocktranslate %}
            bloodmallet.com would like to use <a
                href="https://support.google.com/analytics/answer/2763052">anonymized</a> <a
                href="https://marketingplatform.google.com/about/analytics/">Google Analytics (GA)</a>, to know how many
            people are using the website. You can either accept or reject this. Your choice will be saved on your device
            in a cookie.
            {% endblocktranslate %}
        </p>
        <div class="btn-group float-right">
            <button type="button" class="btn btn-primary" onclick="acceptGATracking(true)">
                {% translate "Accept GA tracking" %}
            </button>
            <button type="button" class="btn btn-secondary" onclick="acceptGATracking(false)">
                {% translate "Reject GA tracking" %}
            </button>
        </div>
    </div>
    <div class="offset-md-1 col-md-10 mt-5">
        <h2 id="data-usage" class="faq-question">Can I use the charts/data from bloodmallet.com?</h2>
        <p>Yes! Of course! All data is free to use for everyone. Just one suggestion: Don't take screenshots from charts
            to show data. Screenshots tend to quickly become outdated. Instead have a look at this <a
                href="https://github.com/Bloodmallet/bloodmallet_web_frontend/wiki/How-to-import-charts">guide on how to
                import charts</a>. With this you can very easily add any chart you want to your page directly and always
            get the most up to date information. A shoutout to where you get the data from and some support would be
            appreciated. Or: Link directly to
            <code>bloodmallet.com/chart/shaman/elemental/trinkets/castingpatchwerk</code> and let your
            users explore charts here.
        </p>
    </div>
    <div class="offset-md-1 col-md-10 mt-5">
        <h2 id="contact" class="faq-question">How can I contact you?</h2>
        <ul type="square">
            <li>
                Discord invite to <a href="https://discord.gg/PKT2PWGB6w">bloodmallet</a>
            </li>
            <li>
                Discord user <code>Bloodmallet(EU)#8246</code>
            </li>
            <li>
                Twitter <a href="https://twitter.com/bloodmallet">@bloodmallet</a>
            </li>
            <li>
                Patreon <a href="https://www.patreon.com/bloodmallet">Bloodmallet(EU)</a>
            </li>
            <li>
                E-Mail <code>bloodmalleteu@gmail.com</code>
            </li>
        </ul>
    </div>
    <div class="offset-md-1 col-md-10 mt-5">
        <h2 id="bugreports" class="faq-question">How do I report a bug?</h2>
        <ul type="square">
            <li>
                Create a ticket on <a href="https://github.com/Bloodmallet/bloodmallet_web_frontend/issues">Github</a>
            </li>
        </ul>
    </div>

</div>
{% endblock %}
