{% extends 'general_website/layout/base.html' %}
{% load i18n %}

{% block title %}
Impressum
{% endblock %}

{% block content %}

<h1>Impressum</h1>

<h2>Betreiber</h2>
<p>
Name des Unternehmens oder im Falle einer natürlichen Person als Betreiber die Angabe des Namens (Vor- und Nachname)
</p>

<h2>Adresse</h2>
<p>
Hierzu zählen der Namen des Unternehmens und die Anschrift der Niederlassung bzw. Sitz der Gesellschaft. Postfächer sind als Adressangabe nicht ausreichend. Im Impressum sind vollständige Adressdaten gefordert, um der Impressumspflicht zu genügen.
</p>

<h2>Kontakt</h2>
<p>
Wenn Sie das Impressum erstellen, gehört die Angabe von Telefon, Fax und Email zur Pflichtangabe im Impressum. Dies soll die uneingeschränkte Kommunikation mit dem Unternehmen gewährleisten.
</p>
<p>
E-Mail: bloodmalleteu@gmail.com
</p>

<h2>Registereintrag</h2>
<p>
Für einige Rechtsformen wie die GmbH, Genossenschaften oder Partnergesellschaften gehört die Angabe des Handels-, Vereins-, Partnerschafts- oder Genossenschaftsregister, in das das Unternehmen eingetragen ist und die entsprechende Registernummer, zu den Impressum Pflichtangaben. Und Registergericht
</p>

<h2>Umsatzsteuer-ID</h2>
<p>
Auch die Angabe der Umsatzsteuer-Identifikationsnummer - sofern vorhanden - oder der Wirtschafts-Identifikationsnummer gehören in das Impressum auf der Website. Die Angabe der Steuernummer fällt nicht unter die Impressumspflicht und braucht nicht im Impressum aufgeführt werden.
Umsatzsteueridentifikationsnummer gemäß § 27a Umsatzsteuergesetz: XXXXX
</p>

{% endblock %}
