{% extends 'general_website/layout/base.html' %}

{% load i18n %}
{% load static %}
{% load replace_underscore_with_space %}

{% block content %}

<h1 class="display-4 mb-3 text-center" id="primary_headline">bloodmallet</h1>

<p>
    {% blocktranslate %}
    This site provides an overview about several simulateable aspects for almost all specs in World of Warcraft
    using <a href="http://www.simulationcraft.org/">SimulationCraft</a>. These overviews
    are an entry point.
    <span class="monk-color">You can generate your own charts by becoming a <a
            href="https://www.patreon.com/bloodmallet">Patreon</a>.</span>
    {% endblocktranslate %}
</p>
<p>
    {% blocktranslate %}
    For indepth information about your spec use your theorycrafters guides.
    {% endblocktranslate %}
</p>

{% comment %}
<p>
    {% blocktranslate %}
    For indepth information about your spec use your theorycrafters guides linked below the charts.
    {% endblocktranslate %}
</p>
{% endcomment %}

<div class="container-fluid mt-5">
    <div class="row text-center" id="spec_table"></div>
</div>

{% endblock %}

{% block extraimport %}
<script src="{% static 'general_website/js/classes_specs.js' %}"></script>
<script src="{% static 'general_website/js/class_spec_table.js' %}"></script>

{% endblock %}
