{% extends 'general_website/layout/base.html' %}
{% load i18n %}
{% load static %}


{% block content %}

<h2 class="mb-5 display-4">{% translate "Logo comparison" %}</h2>

<p>Should I?</p>
<div class="container-fluid mt-5">
    <div class="row" style="height:50vh;">
        <div class="col-5"
            style="background-image: url('{% static 'general_website/assets/bloodmallet.svg'%}'); background-repeat: no-repeat; background-position: right; background-size: contain;">
        </div>
        <div class="col-2 text-center display-4">
            <p style="padding-top: 20vh;">=></p>
        </div>
        <div class="col-5"
            style="background-image: url('{% static 'general_website/assets/bloodmallet_logo.svg'%}'); background-repeat: no-repeat; background-position: right; background-size: contain;">
        </div>
    </div>
</div>


{% endblock %}
