{% extends 'general_website/layout/base.html' %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<h1>{% trans 'My Charts' %}</h1>

<p class="text-muted">{% trans 'A list of my charts' %}</p>

<div class="row">

    <div class="col-12 col-sm-6 col-md-4 mb-3">
        <div class="card text-center h-100">
            <div class="card-body">
                <h5 class="card-title">{% trans 'New Chart' %}</h5>
                <a href="{% url 'create_chart' %}" class="btn btn-primary mt-3 pt-3 pb-3 pl-4 pr-4">+</a>
            </div>
        </div>
    </div>

    {% for chart in charts %}
    <div class="col-12 col-sm-6 col-md-4 mb-3" id="card_{{ chart.id }}">
        <div class="card h-100 {% if chart.failed %}druid-border{% endif %}">
            <div class="card-body text-center">
                <h5 class="card-title">{% if chart.name %}{{ chart.name }}{% else %}<span class="text-muted">{% trans 'No name' %}</span>{% endif %}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{% if chart.failed %}<span class="druid-color">{% trans "Error" %}</span>{% else %}{{ chart.created_at }}{% endif %}</h6>
                <p class="card-text">
                    {{ chart.wow_spec.name }} {{ chart.wow_class }}<br/>
                    {{ chart.simulation_type }}<br/>
                    {{ chart.fight_style }}
                </p>
                {% if chart.failed %}
                    <button class="btn btn-outline-danger delete_button" data-toggle="modal" data-target="#deleteModal" data-value="{{ chart.id }}" id="delete_button_{{ chart.id }}">{% trans 'Delete' %}</button>
                {% elif chart.result %}
                    <a href="{% url 'chart' chart.id %}" class="btn btn-primary">{% trans 'View' %}</a>
                    <button class="btn btn-outline-danger delete_button" data-toggle="modal" data-target="#deleteModal" data-value="{{ chart.id }}" id="delete_button_{{ chart.id }}">{% trans 'Delete' %}</button>
                {% elif chart.queue %}
                {% comment %} in queue {% endcomment %}
                    {% if chart.queue.state == 'PENDING' %}
                        <div class="unfinished-chart" data-value="{{ chart.id }}">
                            <p>
                                {% trans 'Pending' %}:
                                <code class="pending-ascii"></code>
                            </p>
                        </div>
                    {% elif chart.queue.state == 'INPROGRESS' %}
                        <div class="unfinished-chart" data-value="{{ chart.id }}">
                            <p>
                                {% trans 'Simulating' %}:
                                <code class="inprogress-ascii"></code>
                            </p>
                        </div>
                    {% else %}
                        <p>{% trans 'Unknown state reached. Please refresh page' %} <code>{{ chart.id }}</code></p>
                    {% endif %}
                {% else %}
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}

</div>


{% comment %} Deletion modal {% endcomment %}
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">{% trans 'Delete Chart and Simulation data' %}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>{% trans 'Are you sure you want to delete this chart? All associated data will be gone, too.' %}</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" id="real_delete_button" value="">{% trans 'Delete' %}</button>
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extraimport %}
<script src="{% static 'general_website/js/progressbar.js' %}"></script>
<script>

    // page loads
    // for each unfinished chart
        // add appropriate animation
        // add state udater
            // load new state
                // either update element
                // or repeat

    let unfinished_charts = document.getElementsByClassName("unfinished-chart");
    for (let chart of unfinished_charts) {
        chart.custom_interval = setInterval(()=>{
            animationwrapper(chart.querySelector('code'));
        }, 0.2 * 1000);
        setTimeout(()=> {update_chart(chart);}, 10 * 1000);
    }

    function animationwrapper(element){
        if (element.classList.contains("inprogress-ascii")) {
            setAnimationStep(element, TP);
        } else if (element.classList.contains("pending-ascii")) {
            setAnimationStep(element, penguinZ);
        }
    }

    $('#deleteModal').on('show.bs.modal', function (event) {
        let button = $(event.relatedTarget);    // Button that triggered the modal
        let chart_id = button.data('value');
        $('#real_delete_button').val(chart_id);
        $('#real_delete_button').removeClass('disabled');
        $('#real_delete_button').click(function() {
            delete_chart($('#real_delete_button'));
        });
    })

    function delete_chart(element) {
        element.off("click");
        element.addClass('disabled');
        element.html("{% trans 'Deleting' %}");

        let chart_id = element.val();
        let url = "{% url 'delete_chart' %}";
        let data = {
            'csrfmiddlewaretoken': '{{ csrf_token }}',
            'chart_id': chart_id,
        };

        let original_button = $('#delete_button_' + chart_id);
        original_button.html("{% trans 'Deleting' %}");
        original_button.addClass('disabled');
        original_button.off("click");

        $.post(url, data, function(response){
            if (response['status'] === "success") {
                element.html("{% trans 'Deleted' %}");
                $('#card_' + chart_id).children('.card:first').addClass('border-danger');
                $('#deleteModal').modal('hide');
                $('#card_' + chart_id).hide(1500, function() {});
            } else {
                element.html("{% trans 'Error' %}");
                original_button.html("{% trans 'Error' %}");
                console.error(response['message']);
            }
        });
    }

    function update_chart(element) {
        console.log('update_chart');
        let chart = element.dataset.value;

        let request = new XMLHttpRequest();

        // {% url 'get_chart_state_ph' %}
        let url = "{% url 'get_chart_state_ph' %}" + chart;
        console.log(url);

        request.open("GET", url, true); // async request

        request.onload = function (e) {
            if (request.readyState === 4) {
                if (request.status === 200) {
                    let json = JSON.parse(request.responseText);

                    console.log(json);
                    // # googl, plz

                    setTimeout(()=>{
                        update_chart(element);
                    }, 10*1000);

                } else {
                    console.error(request.statusText);
                }
            }
        };
        request.onerror = function (e) {
            console.error('Fetching state of a chart encountered an error, ', e);
        };
        request.send(null);
    }

</script>
{% endblock %}
