{% extends 'general_website/layout/base.html' %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<h1>{% trans 'My Charts' %}</h1>

<p class="text-muted">{% trans 'A list of my charts' %}</p>

<div class="row">

    <div class="col-12 col-sm-6 col-md-4 mb-3">
        <div class="card text-center h-100">
            <div class="card-body">
                <h5 class="card-title">{% trans 'New Chart' %}</h5>
                <a href="{% url 'create_chart' %}" class="btn btn-primary mt-3 pt-3 pb-3 pl-4 pr-4">+</a>
            </div>
        </div>
    </div>

    {% for chart in charts %}
    <div class="col-12 col-sm-6 col-md-4 mb-3" id="card_{{ chart.id }}">
        <div class="card h-100 {% if chart.failed %}druid-border{% endif %}">
            <div class="card-body text-center">
                <h5 class="card-title">{% if chart.name %}{{ chart.name }}{% else %}<span class="text-muted">{% trans 'No name' %}</span>{% endif %}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{% if chart.failed %}<span class="druid-color">{% trans "Error" %}</span>{% else %}{{ chart.created_at }}{% endif %}</h6>
                <p class="card-text">
                    {{ chart.wow_spec.name }} {{ chart.wow_class }}<br/>
                    {{ chart.simulation_type }}<br/>
                    {{ chart.fight_style }}
                </p>
                {% if chart.failed %}
                    <button class="btn btn-outline-danger delete_button" data-toggle="modal" data-target="#deleteModal" data-value="{{ chart.id }}" id="delete_button_{{ chart.id }}">{% trans 'Delete' %}</button>
                {% elif chart.result %}
                    <a href="{% url 'chart' chart.id %}" class="btn btn-primary">{% trans 'View' %}</a>
                    <button class="btn btn-outline-danger delete_button" data-toggle="modal" data-target="#deleteModal" data-value="{{ chart.id }}" id="delete_button_{{ chart.id }}">{% trans 'Delete' %}</button>
                {% else %}
                {% comment %} in queue {% endcomment %}
                    {% if chart.queue.state == 'pending' %}
                        <p>{% trans 'Pending' %}: <code class="unfinished-chart pending-ascii"></code></p>
                    {% elif chart.queue.state == 'in progress' %}
                        <p>{% trans 'Simulating' %}: <code class="unfinished-chart inprogress-ascii"></code></p>
                    {% else %}
                        <p>{% trans 'Unknown state reached. Please refresh page' %} <code>{{ chart.id }}</code></p>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}

</div>


{% comment %} Deletion modal {% endcomment %}
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">{% trans 'Delete Chart and Simulation data' %}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>{% trans 'Are you sure you want to delete this chart? All associated data will be gone, too.' %}</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" id="real_delete_button" value="">{% trans 'Delete' %}</button>
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extraimport %}
<script src="{% static 'general_website/js/progressbar.js' %}"></script>
<script>

    // page loads
    // for each unfinished chart
        // add appropriate animation
        // add state udater
            // load new state
                // either update element
                // or repeat

    let tps = undefined;

    tps = document.getElementsByClassName("inprogress-ascii");
    for (let tp of tps) {
        animateTP(tp, 0.5);
    }

    tps = document.getElementsByClassName("pending-ascii");
    for (let tp of tps) {
        animatePenguinZ(tp);
    }

    $('#deleteModal').on('show.bs.modal', function (event) {
        let button = $(event.relatedTarget);    // Button that triggered the modal
        let chart_id = button.data('value');
        $('#real_delete_button').val(chart_id);
        $('#real_delete_button').removeClass('disabled');
        $('#real_delete_button').click(function() {
            delete_chart($('#real_delete_button'));
        });
    })

    function delete_chart(element) {
        element.off("click");
        element.addClass('disabled');
        element.html("{% trans 'Deleting' %}");

        let chart_id = element.val();
        let url = "{% url 'delete_chart' %}";
        let data = {
            'csrfmiddlewaretoken': '{{ csrf_token }}',
            'chart_id': chart_id,
        };

        let original_button = $('#delete_button_' + chart_id);
        original_button.html("{% trans 'Deleting' %}");
        original_button.addClass('disabled');
        original_button.off("click");

        $.post(url, data, function(response){
            if (response['status'] === "success") {
                element.html("{% trans 'Deleted' %}");
                $('#card_' + chart_id).children('.card:first').addClass('border-danger');
                $('#deleteModal').modal('hide');
                $('#card_' + chart_id).hide(1500, function() {});
            } else {
                element.html("{% trans 'Error' %}");
                original_button.html("{% trans 'Error' %}");
                console.error(response['message']);
            }
        });
    }

    function update_chart(element, text, duration, callback) {
        console.log('update_chart');
        {% comment %} let request = new XMLHttpRequest();

        request.open("GET", url, true); // async request

        request.onload = function (e) {
            if (request.readyState === 4) {
                if (request.status === 200) {
                let json = JSON.parse(request.responseText);

                if (chart_id) {
                    loaded_data["c" + chart_id] = json;
                } else {
                    if (!loaded_data[data_type]) {
                    loaded_data[data_type] = {};
                    }
                    if (!loaded_data[data_type][fight_style]) {
                    loaded_data[data_type][fight_style] = {};
                    }
                    if (!loaded_data[data_type][fight_style][wow_class]) {
                    loaded_data[data_type][fight_style][wow_class] = {};
                    }

                    loaded_data[data_type][fight_style][wow_class][wow_spec] = json;
                }
                if (debug) {
                    console.log(json);
                    console.log("Load and save finished.");
                }
                } else {
                console.error(request.statusText);
                }
            }
        };
        request.onerror = function (e) {
        console.error('Fetching data from bloodmallet.com encountered an error, ', e);
        };
        request.send(null); {% endcomment %}

        setTimeout(()=>{
            console.log('update_chart  call autoProgressBar');
            autoProgressBar(element, text, duration, 1.2, callback);
        }, 3201);
    }

</script>
{% endblock %}
