{% load i18n %}{% autoescape off %}
{%translate "Greetings" %}
{% blocktranslate %}Greetings,
you're receiving this email because a password reset for your user account at {{ site_name }} was requested. If you didn't request the password reset ignore this email.{% endblocktranslate %}

{% translate "Please go to the following page and choose a new password:" %}
{% block reset_link %}
https://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% translate "Your username, in case you've forgotten:" %} {{ user.get_username }}

{% translate "Thanks for using the site!" %}

Bloodmallet(EU)

{% endautoescape %}
