{% extends 'general_website/layout/base.html' %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load replace_underscore_with_space %}

{% block precontent %}
{% with page='profile' %}
    {% include 'general_website/layout/nav_settings.html' %}
{% endwith %}
{% endblock %}


{% block content %}

<h1>{% translate "Profile" %}</h1>
{% comment %}
<p>{% translate "Manage your profile information." %}</p>

<form class="container-fluid" method="post">
    {% csrf_token %}
    {{ profile_form|crispy }}

    <button type="submit" class="btn btn-primary">{% translate "Save changes" %}</button>
</form> {% endcomment %}

<br/>

<h3>{% translate "Change Password" %}</h3>
<form class="container-fluid" method="post" action="{% url 'change_password' %}">
    {% csrf_token %}
    {{ user_form|crispy }}

    <button type="submit" class="btn btn-primary">{% translate "Change password" %}</button>
</form>


{% endblock %}
