{% extends 'general_website/layout/base.html' %}
{% load i18n %}
{% load static %}
{% load replace_underscore_with_space %}

{% block precontent %}
{% with page='settings' %}
    {% include 'general_website/layout/nav_settings.html' %}
{% endwith %}
{% endblock %}


{% block content %}

<h1>{% trans "Settings" %}</h1>
<p>{% trans "A settings page...more to come" %}</p>

{% comment %}
<form class="container-fluid">
    <fieldset class="form-group row">
        <legend>{% trans "Language" %}</legend>
        <div class="form-check">
            <label class="offset-sm-2 form-check-label">
                <input type="radio" class="form-check-input" name="language" id="chinese_selection" value="cn_CN">
                    简体中文
            </label>
        </div>
        <div class="form-check">
            <label class="offset-sm-2 form-check-label">
                <input type="radio" class="form-check-input" name="language" id="german_selection" value="de_DE">
                    Deutsch
            </label>
        </div>
        <div class="form-check">
            <label class="offset-sm-2 form-check-label">
                <input type="radio" class="form-check-input" name="language" id="english_selection" value="en_US" checked>
                    English
            </label>
        </div>
        <div class="form-check">
            <label class="offset-sm-2 form-check-label">
                <input type="radio" class="form-check-input" name="language" id="spanish_selection" value="es_ES">
                    Español
            </label>
        </div>
        <div class="form-check">
            <label class="offset-sm-2 form-check-label">
                <input type="radio" class="form-check-input" name="language" id="french_selection" value="fr_FR">
                    Français
            </label>
        </div>
        <div class="form-check">
            <label class="offset-sm-2 form-check-label">
                <input type="radio" class="form-check-input" name="language" id="italian_selection" value="it_IT">
                    Italiano
            </label>
        </div>
        <div class="form-check">
            <label class="offset-sm-2 form-check-label">
                <input type="radio" class="form-check-input" name="language" id="korean_selection" value="ko_KR">
                    한국어
            </label>
        </div>
        <div class="form-check">
            <label class="offset-sm-2 form-check-label">
                <input type="radio" class="form-check-input" name="language" id="portuguese_selection" value="pt_BR">
                    Português Brasileiro
            </label>
        </div>
        <div class="form-check">
            <label class="offset-sm-2 form-check-label">
                <input type="radio" class="form-check-input" name="language" id="russian_selection" value="ru_RU">
                    Русский
            </label>
        </div>
    </fieldset>

    <fieldset class="form-group row">
        <legend>{% trans "Chart mode" %}</legend>
        <div class="offset-sm-2 form-check">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" name="chart_mode" id="absolute_gain" value="absolute_gain" checked>
                    {% trans "Δ - absolute dps gain" %}
            </label>
        </div>
        <div class="offset-sm-2 form-check">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" name="chart_mode" id="relative_gain" value="relative_gain">
                    {% trans "% - relative dps gain" %}
            </label>
        </div>
        <div class="offset-sm-2 form-check">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" name="chart_mode" id="absolute_value" value="absolute_value">
                    {% trans "|x| - absolute value" %}
            </label>
        </div>
    </fieldset>

    <div class="form-group row">
        <legend>Chart icons</legend>
        <label class="offset-sm-2 form-check" style="cursor: pointer" id="translate_iconize_chart" for="inconized_charts_checkbox">
            <input class="form-check-input" type="checkbox" id="inconized_charts_checkbox" style="cursor: pointer">
            {% trans "active" %}
        </label>
    </div>

    <button type="button" class="btn btn-primary row" id="apply_changes">{% trans "Apply changes" %}</button>
</form>

{% endcomment %}


{% endblock %}
