{% extends 'general_website/layout/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}

<h2 class="mb-5 display-4">{% translate "Register" %}</h2>

<form method="post" action="{% url 'signup' %}">
    {% csrf_token %}
    {{ signup_form|crispy }}

    <button type="submit" class="btn btn-primary">{% translate "Sign up" %}</button>
    <small id="dataDisclaimer" class="form-text text-muted">
        {% blocktranslate %}
        I couldn't care less about what you enter. Nothing is shared with others.
        {% endblocktranslate %}
    </small>
</form>

{% endblock %}
