{% extends 'general_website/layout/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}

<form method="post" action="{% url 'signup' %}" style="top: 15vh; position: relative;">
    {% csrf_token %}
    {{ signup_form|crispy }}

    <button type="submit" class="btn btn-primary">{% translate "Sign up" %}</button>
    <small id="dataDisclaimer" class="form-text text-muted">{% translate "I couldn't care less about what you enter. Nothing is shared with others and data is wiped regularly." %}</small>
</form>

{% endblock %}
