{% extends 'general_website/layout/base.html' %}

{% load i18n %}
{% load static %}

{% block content %}

<h1 class="display-4 mb-3 text-center" id="primary_headline">{% translate "Talent trees" %}</h1>

<div class="alert alert-warning" role="alert">
    This website is under heavy development. Nevertheless please create <a
        href="https://github.com/Bloodmallet/bloodmallet_web_frontend/issues">issues on github</a> for feature requests
    and feedback.
</div>

<p>
    TODO:
</p>
<ul>
    <li><del>tooltips</del></li>
    <li><del>visualize gates</del></li>
    <li>clean up gates css</li>
    <li>make gates dynamic</li>
    <li>add gates to js</li>
    <li>prevent removing points if gates depend on them</li>
    <li>choice nodes icons</li>
    <li>choice nodes specific selection</li>
    <li>availability indicator (white)</li>
    <li>more tree data / icons</li>
    <li>tree import (build your own tree)</li>
    <li>export path</li>
    <li>import path</li>
</ul>

<h2>Class tree: Balance Druid</h2>
<div class="btt-container">
    <div id="main" class="bloodmallets-talent-tree" data-wow-class="druid" data-wow-spec="balance"
        data-tree-type="class">
        <div class="btt-gate-1">
            <div class="btt-gate-line h3">8</div>
        </div>
        <div class="btt-gate-2">
            <div class="btt-gate-line h3">20</div>
        </div>
    </div>
</div>

<!-- <div class="mt-3">
    <button type="button" class="btn btn-lg btn-primary" disabled>Export /simc</button>
    <button type="button" class="btn btn-lg btn-primary" disabled>Import /simc</button>
</div> -->

{% endblock %}

{% block extraimport %}
<link rel="stylesheet" href="{% static 'general_website/css/talent_trees.css' %}" />
<script src="{% static 'general_website/js/talent_trees.js' %}"></script>

<script>
    add_bloodmallet_trees();
</script>
{% endblock %}
