{% extends 'general_website/layout/base.html' %}

{% load i18n %}
{% load static %}

{% block content %}

<h1 class="display-4 mb-3 text-center" id="primary_headline">{% translate "Talent trees" %}</h1>

<div class="alert alert-warning" role="alert">
    This website is under heavy development. Nevertheless please create <a
        href="https://github.com/Bloodmallet/bloodmallet_web_frontend/issues">issues on github</a> for feature requests
    and feedback.
</div>

<p>
    TODO:
</p>
<ul>
    <li><del>tooltips</del></li>
    <li><del>visualize gates</del></li>
    <li><del>clean up gates css</del></li>
    <li><del>make gates dynamic</del></li>
    <li><del>add gates to js</del></li>
    <li><del>prevent removing points if gates depend on them</del></li>
    <li><del>tree reset button</del></li>
    <li>choice nodes icons</li>
    <li>choice nodes specific selection</li>
    <li>availability indicator (white)</li>
    <li>dynamic connector-color around gates</li>
    <li>more tree data / icons</li>
    <li>tree import (build your own tree)</li>
    <li><del>export path</del></li>
    <li><del>import path</del></li>
</ul>

<h2>Class tree: Balance Druid</h2>
<div class="btt-container">
    <div id="main" class="bloodmallets-talent-tree mb-5" data-wow-class="druid" data-wow-spec="balance"
        data-tree-type="class">
    </div>
</div>


<h3 class="mt-5">Data example</h3>
<code>
[
    {
        "name": "Rake",
        "description": "Rake the target for Bleed damage and additional Bleed damage over 15 seconds. Awards 1 combo point.",
        "max_rank": 1,
        "coordinates": [
            2,
            1
        ],
        "child_coordinates": [
            [
                3,
                2
            ]
        ],
        "type": "active",
        "spell_id": -1,
        "img_url": "https://wow.zamimg.com/images/wow/icons/large/ability_druid_disembowel.jpg",
        "default_for_specs": [
            "druid_feral"
        ]
    },
    ...
]
</code>
<p>The data of the talent tree above is organized as a list of objects. The tree itself is a grid of 9x12 elements. Each
    object of the list is required to know its own coordinated and the coordinates of their child elements.</p>

<h4>Object-Keys</h4>
<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">Key</th>
            <th scope="col">Required</th>
            <th scope="col">Description</th>
            <th scope="col">Example value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>name</td>
            <td>yes</td>
            <td>String: The name of the talent. Emphasized in the tooltip.</td>
            <td><code>"name": "Rake"</code></td>
        </tr>
        <tr>
            <td>description</td>
            <td>yes</td>
            <td>String: Description of the talent.</td>
            <td><code>"description": "Rake the target for Bleed damage and additional Bleed damage over 15 seconds. Awards 1 combo point."</code>
            </td>
        </tr>
        <tr>
            <td>max_rank</td>
            <td>optional</td>
            <td>Number: Maximum possible talent points invested into this talent. At the time of writing 3 is the
                maximum so far. Defaults to 1.</td>
            <td><code>"max_rank": 1</code></td>
        </tr>
        <tr>
            <td>coordinates</td>
            <td>yes</td>
            <td>Array[Number, Number]: x (column) and y (row) coordinates of a talent. Location within the tree. At the
                same time this is the unique identifier of a talent.</td>
            <td><code>"coordinates": [ 2, 1 ]</code></td>
        </tr>
        <tr>
            <td>child_coordinates</td>
            <td>optional</td>
            <td>Array[Array[Number, Number]]: Array of x (column) and y (row) coordinates of child talents. These
                talents depend on fully selecting this talent. Defaults to an empty Array [], meaning no children.</td>
            <td><code>"child_coordinates": [ [ 3, 2 ] ]</code></td>
        </tr>
        <tr>
            <td>type</td>
            <td>yes</td>
            <td>"active", "passive", or "choice": Determines the icon shape and tooltip.</td>
            <td><code>"type": "active"</code></td>
        </tr>
        <tr>
            <td>spell_id</td>
            <td>yes</td>
            <td>Number: Not yet relevant. Provide a -1 for now.</td>
            <td><code>"spell_id": -1</code></td>
        </tr>
        <tr>
            <td>img_url</td>
            <td>optional</td>
            <td>String: url to an 40x40 image. Defaults to the question mark icon.</td>
            <td><code> "img_url": "https://wow.zamimg.com/images/wow/icons/large/ability_druid_disembowel.jpg"</code>
            </td>
        </tr>
        <tr>
            <td>default_for_specs</td>
            <td>optional</td>
            <td>String[]: Array of class_spec names that have this talent as default without investing points.</td>
            <td><code>"default_for_specs": [ "druid_feral" ]</code></td>
        </tr>
    </tbody>
</table>

{% endblock %}

{% block extraimport %}
<link rel="stylesheet" href="{% static 'general_website/css/talent_trees.css' %}" />
<script src="{% static 'general_website/js/talent_trees.js' %}"></script>

<script>
    add_bloodmallet_trees();
</script>
{% endblock %}
