{% extends 'general_website/layout/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}

<h1>{% trans 'Create a Chart' %}</h1>

<div class="alert alert-warning" role="alert">
    <strong>{% trans 'Warning' %}</strong>
    <p>{% trans 'Due to a rather massive change in backend no azerite ITEM charts are currently available. It\'s on my todo list!' %}</p>
</div>

<form method="post" action="{% url 'add_charts' %}">
    {% crispy form %}

    <small id="dataDisclaimer" class="form-text text-muted">{% trans "Chart creation will take a while (stuff needs to be simulated)." %}</small>
</form>

{% endblock %}
