{% extends 'general_website/layout_base.html' %}
{% load static %}
{% load replace_underscore_with_space %}

{% block precontent%}
<div id="navBarDataMenuPlaceholder" class="sticky-top">
    <nav class="navbar navbar-expand-md bg-dark navbar-dark" id="navBarDataMenu" hidden>
        <!-- Menu button if device is too small for full menu -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarClassMenu" aria-controls="navbarClassMenu"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Menu list -->
        <div class="collapse navbar-collapse" id="navbarClassMenu">
            <!-- Wow classes -->
            <ul class="navbar-nav">

                {# create a list of all specs and autogenerate the standard links #}
                {% with "death_knight demon_hunter druid hunter mage monk paladin priest rogue shaman warlock warrior" as specs %}
                    {% for spec in specs.split %}
                        <li class="nav-item">
                            <a class="nav-link {{ spec }}-color {{ spec }}-menu-border translate_{{ spec }}" href="#{{ spec }}" id="navbar_{{ spec }}_menu">{{ spec|title|replace_underscore_with_space }}</a>
                        </li>
                    {% endfor %}
                {% endwith %}

            </ul>
        </div>
    </nav>
</div>
{% endblock %}


{% block content %}

<h1 class="display-4 text-center" id="primary_headline">blood{% if not bloodyfiller %}mallet{% else %}y( {{bloodyfiller}} ){% endif %}</h1>

{% comment %}
    {% if not request.user.is_authenticated %}
    {% else %}
    {% endif %}
{% endcomment %}

<p id="translate_main_paragraph">
This site provides an overview about trinkets, azerite traits, and others for almost all specs in World of Warcraft
using <a href="http://www.simulationcraft.org/" target="blank">SimulationCraft</a>'s default profiles. These overviews
are an entry point. For indepth information about your spec use your theorycrafters resources linked below the charts.
</p>


<div class="container-fluid">
    <div class="row text-center" id="spec_table"></div>
</div>

{# Chart manipulators / options #}
<div id="chart_options" hidden>
    <div class="row">
        <div class="col-md-6">
            <label class="btn-data-label" for="options_data_type">Data Type</label>
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</button>
            <div class="dropdown-menu" id="options_data_type">
                <a class="dropdown-item" >Trinkets</a>
                <a class="dropdown-item" >Azerite</a>
                <a class="dropdown-item" >Races</a>
                <a class="dropdown-item" >Secondary distributions</a>
            </div>

             {% comment %} <select class="form-control btn-data" id="options_data_type">
                <option value="trinkets">Trinkets</option>
                <option value="azerite">Azerite</option>
                <option value="races">Races</option>
                <option value="secondary_distributions">Secondary distributions</option>
            </select> {% endcomment %}
        </div>
        <div class="col-md-6">
            <label class="btn-data-label" for="fight_style">Fight Style</label>
            <select class="form-control btn-data" id="fight_style">
                <option value="patchwerk">Patchwerk</option>
                <option value="hecticaddcleave">HecticAddCleave</option>
            </select>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-6">
            <label class="btn-data-label" for="options_data_specification">Type Specification</label>
            <select class="form-control btn-data dropdown-toggle" id="options_data_specification">
                <option value="trait_stacking">Trait stacking</option>
                <option value="itemlevel">Itemlevel</option>
                <option value="head">Head</option>
                <option value="shoulders">Shoulders</option>
                <option value="chest">Chest</option>
            </select>
        </div>
        <div class="col-md-6">
            <label class="btn-data-label" for="tier">Azerite Tier
            <svg class="tier-icon">
                <use xlink:href="{% static 'general_website/assets/icons.svg' %}#azerite_tier3" id="tier_icon"></use>
            </svg>
            </label>
            <select class="form-control btn-data" id="tier">
                <option value="3">
                Tier 3 & 4
                </option>
                <option value="2">Tier 2</option>
            </select>
        </div>
    </div>
    <br/>
    <div class="row">
    <div class="col-md-6">
            <button class="btn-data druid-menu-border" type="button" data-toggle="collapse" data-target="#advanced_chart_options_area" aria-expanded="false" aria-controls="advanced_chart_options_area" id="advanced_chart_options_button">
            Show Advanced Options
            </button>
    </div>

    </div>
    <div class="row">
        <div class="collapse col-md-12" id="advanced_chart_options_area">
            <div class="card card-body" id="advanced_chart_options" >
            </div>
        </div>
    </div>
</div>


<script src="{% static 'general_website/js/navbar_class_menu.js' %}"></script>
<script src="{% static 'general_website/js/class_spec_table.js' %}"></script>
<script src="{% static 'general_website/js/chart_options.js' %}"></script>
<script src="{% static 'general_website/js/index.js' %}"></script>
{% endblock %}
