{% extends 'general_website/layout_base.html' %}
{% load static %}
{% load replace_underscore_with_space %}

{% block precontent%}
<nav class="navbar sticky-top navbar-expand-md bg-dark navbar-dark" id="navBarDataMenu" hidden style="top:60px;">
    <!-- Menu button if device is too small for full menu -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarClassMenu" aria-controls="navbarClassMenu"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Menu list -->
    <div class="collapse navbar-collapse" id="navbarClassMenu">
        <!-- Wow classes -->
        <ul class="navbar-nav">

            {# create a list of all specs and autogenerate the standard links #}
            {% with "death_knight demon_hunter druid hunter mage monk paladin priest rogue shaman warlock warrior" as specs %}
                {% for spec in specs.split %}
                    <li class="nav-item">
                        <a class="nav-link {{ spec }}-color {{ spec }}-menu-border translate_{{ spec }}" href="#{{ spec }}" id="navbar_{{ spec }}_menu">{{ spec|title|replace_underscore_with_space }}</a>
                    </li>
                {% endfor %}
            {% endwith %}

        </ul>

    </div>
</nav>
{% endblock %}


{% block content %}

<h1 class="display-4 text-center" id="primary_headline">bloodmallet</h1>

{% if not request.user.is_authenticated %}
<p>Hello World! {{ text }}</p>

<p><a href="something.html">here is nothing</a></p>
<p>Something something</p>
<p>Something could be here too</p>
<p>but nothing of importance is</p>
{% else %}
<p>Bonjour {{ request.user.username }}</p>
{% endif %}

<p id="translate_main_paragraph">
This site provides an overview about trinkets, azerite traits, and others for almost all specs in World of Warcraft using
<a href="http://www.simulationcraft.org/" target="blank">SimulationCraft</a>'s default profiles. These overviews are an entry point. For indepth information about your
spec use your theorycrafters resources linked below the charts.
</p>


<div class="row text-center" id="spec_table"></div>

<p>hello</p>
<p>hello</p>
<p>hello</p>
<p>hello</p>
<p>hello</p>
<p>hello</p>
<p>hello</p>
<p>hello</p>
<p>hello</p>
<p>hello</p>
<p>hello</p>
<p>hello</p>
<p>hello</p>
<p>hello</p>
<p>hello</p>
<p>hello</p>
<p>hello</p>
<p>hello</p>
<p>hello</p>
<p>hello</p>
<p>hello</p>
<p>hello</p>
<p>hello</p>
<p>hello</p>
<p>hello</p>
<p>hello</p>
<p>hello</p>
<p>hello</p>
<p>hello</p>
<p>hello</p>
<p>hello</p>
<p>hello</p>
<p>hello</p>
<p>hello</p>
<p>hello</p>
<p>hello</p>
<p>hello</p>
<p>hello</p>
<p>hello</p>
<p>hello</p>
<p>hello</p>
<p>hello</p>
<p>hello</p>

<script src="{% static 'general_website/js/navbar_class_menu.js' %}"></script>
<script src="{% static 'general_website/js/class_spec_table.js' %}"></script>
{% endblock %}
