{% load static %}
{% comment %} <header> {% endcomment %}
    <nav class="navbar sticky-top navbar-expand-lg bg-dark navbar-dark top-nav">
        <a class="navbar-brand" href="{% url 'index' %}">
            <img src="{% static 'general_website/assets/bloodmallet.svg' %}" style="width: 35px; vertical-align:top;" /> <span id="brand-name">bloodmallet</span>
        </a>
        <!-- Menu button if device is too small for full menu -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTopMenu" aria-controls="navbarTopMenu"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Menu list -->
        <div class="collapse navbar-collapse" id="navbarTopMenu">

            <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link translate_general" href="{% url 'index' %}" id="general_link">General</a>
            </li>
            <li class="nav-item">
                <a class="nav-link translate_trinket_performance" href="" id="trinket_performance_link">Trinket performance</a>
            </li>
            </ul>


            <!-- Settings -->
            <ul class="navbar-nav ml-auto">
                {% if not request.user.is_authenticated %}
                    <a class="nav-link" href="{% url 'login' %}" id="navbarLogin">Login</a>
                    <a class="nav-link" href="{% url 'signup' %}" id="navbarSignup">Register</a>
                {% endif %}
                <a class="nav-link" href="{% url 'settings' %}" id="navbarLogin">Settings</a>
                {% if request.user.is_authenticated %}
                    <a class="nav-link" href="{% url 'logout' %}" id="navbarLogin">Logout</a>
                {% endif %}
            </ul>
        </div>
    </nav>

{% comment %} </header> {% endcomment %}
