{% extends 'general_website/layout/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}

<form method="post" action="{% url 'login' %}" style="top: 15vh; position: relative;">
    {% csrf_token %}
    {{ login_form|crispy }}

    {% comment %} Add reset PW link here {% endcomment %}

    <button type="submit" class="btn btn-primary">{% trans "Login" %}</button>
    <small id="dataDisclaimer" class="form-text text-muted">{% trans "I couldn't care less about your data. Nothing is shared with others and data is wiped regularly." %}</small>
</form>

{% endblock %}
