{% extends 'general_website/layout/base.html' %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}

<h1>{% trans 'My Charts' %}{% if queue %} <small class="text-muted">{% trans 'In queue' %}: {{ queue }}</small>{% endif %}</h1>

<p>{% trans 'A list of your own charts' %}</p>

<div class="container-fluid">
    <div class="row">

        <div class="card col-4 text-center mr-1">
            <div class="card-body">
                <h5 class="card-title">{% trans 'New Chart' %}</h5>
                <a href="{% url 'add_charts' %}" class="btn btn-primary mt-3 pt-3 pb-3 pl-4 pr-4">+</a>
            </div>
        </div>

        {% for chart in charts %}
        <div class="card col-4">
            <div class="card-body">
                <h5 class="card-title">{{ chart.name }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ chart.result.created_at }}</h6>
                <p class="card-text">{{ chart.simulation_type }}</p>
                <p class="card-text">{{ chart.wow_spec }} {{ chart.wow_class }}</p>
                <p class="card-text">{{ chart.fight_style }}</p>
                <a href="{% url 'chart' chart.uuid %}" class="btn btn-primary">{% trans 'Load Chart' %}</a>
                <a href="{% url 'delete_chart' chart.uuid %}"
                    class="btn btn-primary">{% trans 'Delete Chart' %}</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
