<div class="card">
    <div class="card-header bg-dark" id="{{ div.css_id }}-label">
        <h2 class="mb-0">
            <button type="button" data-toggle="collapse" data-target="#{{ div.css_id }}"
               aria-controls="{{ div.css_id }}" class="btn btn-link btn-block text-left caret">
                {{ div.name }}
            </button>
        </h2>
    </div>

    <div id="{{ div.css_id }}" class="collapse{% if div.active %} show{% endif %}"
         aria-labelledby="{{ div.css_id }}-label" data-parent="#accordion">
        <div class="card-body">
            {{ fields|safe }}
        </div>
    </div>
</div>
