// Something something introduction

// list of all class colors
$class-color-death-knight: #c41f3b;
$class-color-demon-hunter: #a330c9;
$class-color-druid: #ff7d0a;
$class-color-hunter: #abd473;
$class-color-mage: #69ccf0;
$class-color-monk: #00ff96;
$class-color-paladin: #f58cba;
$class-color-priest: #ffffff;
$class-color-rogue: #fff569;
$class-color-shaman: #0070de;
$class-color-warlock: #9482c9;
$class-color-warrior: #c79c6e;

$class-colors: () !default;
$class-colors: map-merge((
  "death_knight":   $class-color-death-knight,
  "demon_hunter":   $class-color-demon-hunter,
  "druid":          $class-color-druid,
  "hunter":         $class-color-hunter,
  "mage":           $class-color-mage,
  "monk":           $class-color-monk,
  "paladin":        $class-color-paladin,
  "priest":         $class-color-priest,
  "rogue":          $class-color-rogue,
  "shaman":         $class-color-shaman,
  "warlock":        $class-color-warlock,
  "warrior":        $class-color-warrior
), $class-colors);

$darkest-color: #232227;
$dark-color: #343a40;
$light-color: #999999;
$lightest-color: #f8f9fa;


$body-bg: $dark-color;
$body-color: $lightest-color;

$primary:       $class-color-shaman !default;
$secondary:     $light-color !default;
$success:       $class-color-monk !default;
$info:          $class-color-mage !default;
$warning:       $class-color-rogue !default;
$danger:        $class-color-druid !default;
$light:         $lightest-color !default;
$dark:          $dark-color !default;

$border-width:                1px;
$border-radius:               0rem !default;
$border-radius-lg:            0rem !default;
$border-radius-sm:            0rem !default;


// Links
//
// Style anchor elements.
$link-color:                lighten($primary, 15%) !default;
$link-decoration:           none !default;
$link-hover-color:          $primary !default;
$link-hover-decoration:     underline !default;

// General text
$font-size-base:        1.1rem;
$input-color:           $lightest-color;
$input-bg:              $darkest-color;
$input-border-color:    $light-color;

// card style override
$card-bg: $body-bg;
$card-border-color: $light-color;

// modal style override
$close-color: $lightest-color;
$modal-content-bg: $body-bg;
$modal-content-border-color: $light-color;
$modal-header-border-color: $light-color;

$alert-border-width: 5px;

@import "general_website/bootstrap/scss/bootstrap";

// container for primary page content
main {
    min-height: 93vh;
    bottom:0;
    right:0;
    left:0;
}
// bloodmallet hammer background image
#background_image {
    position: fixed;
    bottom: 80px;
    right: 40px;
    width: 40%;
    height: 25%;
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    z-index: -1;
    opacity: 0.2;
}
// container for bottom navigation
footer {
    width: 100%;
    position: relative;
    bottom: 0px;
    right: 0px;
    margin-top: 2em;
}
.top-nav, .bottom-nav {
    min-height: 60px;
}
.light-border-bottom {
    border-bottom: $border-width solid $light-color;
}
#navbarTopMenu {
    background: $darkest-color;
}
#navBarDataMenuPlaceholder {
    top: 60px;
    height: 62px;
    z-index: 500;
}
#navBarDataMenu {
    z-index: 45;
    top: 0px;
    // visibility: visible;
    -webkit-animation: fadein_class_nav 0.6s;
    animation: fadein_class_nav 0.6s;
}
// there was an animation here...it somehow broke. maybe due to "sticky-top" class
@-webkit-keyframes fadein_class_nav {
  from {top: -60px; opacity: 1;}
  to {top: 0px; opacity: 1;}
}
@keyframes fadein_class_nav {
  from {top: -60px; opacity: 1;}
  to {top: 0px; opacity: 1;}
}
// Footer icons
.svg-icon {
    display: inline-block;
    padding-right: 0px;
    width: 23px;
    height: 23px;
    fill: currentColor;
    vertical-align: text-top;
}
.tier-icon {
    display: inline-block;
    padding-right: 0px;
    margin-right: 3px;
    width: 23px;
    height: 23px;
    stroke: currentColor;
    vertical-align: text-top;
}
a:hover .svg-icon {
    fill: currentColor;
}

.bg-dark {
    background-color: $darkest-color!important;
}

.dropdown-menu {
    background-color: $darkest-color;
    padding: 0rem;
}
.dropdown-item:hover, .dropdown-item:focus {
    background-color: $darkest-color;
}

// create necessary class specific css for nav and tables
@each $class, $color-value in $class-colors {
    .#{$class}-color {
        color: $color-value;
    }
    .#{$class}-menu-border {
        // border-top: 3px solid transparent;
        border-bottom: 3px solid transparent;
        transition: border-bottom .05s ease-in;
        &:hover {
            border-bottom: 3px solid $color-value;
            transition: border-bottom .0s ease-in;
        }
        &:active {
            border-bottom: 3px solid $color-value;
        }
    }
    .#{$class}-menu-border.active {
        border-bottom: 3px solid $color-value;
    }
    .#{$class}-border-top {
        border-top: 3px solid $color-value;
    }
    .#{$class}-border-bottom {
        border-bottom: 3px solid $color-value;
    }

    // Hide the bottom border if the sub menu is active
    .show .#{$class}-menu-border:hover, .show .#{$class}-menu-border.active {
        border-bottom: 0px solid transparent;
    }

    .#{$class}-button {
        color: $color-value;
        border-right: 5px solid $darkest-color;
        border-left: 5px solid $darkest-color;
        transition: border .05s ease-in;
        &:hover, &:active {
            color: $color-value;
            border-left: 5px solid $color-value;
            transition: border .0s ease-in;
        }
    }

    .#{$class}-border {
        border-color: $color-value;
    }

    .#{$class}-background {
        background-color: $color-value;
    }

}

// Styles for the class-spec table
/* styles the wow class table headers */
.wow-class-header-content {
    font-weight: 600;
    background-color: $darkest-color;
    padding-top: 3px;
    padding-bottom: 7px;
    font-size: 1.4rem;
  }
/* enforces a small free space between border and content */
.spec-cell {
    padding-right: 21px;
    margin-bottom: 30px;
}
@media only screen and (min-width: 1281px) {
    .spec-cell {
        padding-right: 40px;
    }
}
.btn-data-label {
    margin-right: $spacer;
}
.btn-data {
    background-color: $darkest-color;
    border: 0px solid $darkest-color;
    border-bottom-width: 3px;
    // border-top-width: 3px;
    color: $lightest-color;
    font-weight: 400;
    min-width: 120px;
    padding: .375rem .75rem;
    cursor: pointer;
    &:focus {
        border-bottom-color: inherit;
        // border-top-color: $darkest-color;
    }
    &:hover {
        border-bottom-color: inherit;
    }
}
.spec-btn {
    background-color: $darkest-color;
    //color: $lightest-color;
    display: block;
    font-weight: 500;
    width: 100%;
    cursor: pointer;
    &:hover {
        text-decoration: none;
        //color: $lightest-color;
    }
}
/* Mobile devices */
@media only screen and (max-width: 500px) {
    .spec-btn {
        padding: 5px 5px;
    }
}
/* Desktop sizes */
@media only screen and (min-width: 501px) {
    .spec-btn {
        padding: 10px 15px;
    }
}

// disable a button
.btn-disabled {
    color: $light-color;
    cursor: not-allowed;
}

// petreon
.patreon-div {
    position: fixed;
    right: 24px;
    top: 70px;
    z-index: 750;
}

@media only screen and (max-width: 767px) {
    .patreon-div {
        display: none;
    }
    .navbar-spacer {
        display: none;
    }
}

// we're a straight line style
// if anyone sees this: feel free to restyle radio buttons to squares instead of circles too
ul {
    list-style-type: square;
}
select { // https://www.lugolabs.com/articles/style-select-html-element-with-css redo with this?
    // or this https://codepen.io/raubaca/pen/VejpQP
    /* reset */
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;

    /* create arrow down */
    background-image:
        linear-gradient(45deg, transparent 50%, $lightest-color 50%),
        linear-gradient(135deg, $lightest-color 50%, transparent 50%);
    background-position:
        calc(100% - 20px) calc(1em + 2px),
        calc(100% - 15px) calc(1em + 2px);
    background-size:
        5px 5px,
        5px 5px;
    background-repeat: no-repeat;
}
select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}
select::-ms-expand {
    display: none;
}

.bottom-spacer {
    margin-bottom: $spacer;
}

// ensure that highchart tooltips are in the front
.highcharts-tooltip {
    z-index: 400;
}

.close {
    color: $lightest-color;
}

// Alternate styles
//
// Generate contextual modifier classes for colorizing the alert.
@mixin alert-variant($background, $border, $color) {
    color: $color;
    background: transparent; //$color;
    border-color: $border;

    hr {
        border-top-color: darken($border, 5%);
    }

    .alert-link {
        color: darken($color, 10%);
    }
}

@each $color, $value in $theme-colors {
    .alert-#{$color} {
        @include alert-variant($value, $value, $value);
    }
}

.alert {
    font-weight: 600;
}

.cookie_information_overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $light-color;
    opacity: 0.7;
    z-index: 1250;
}

.centered-axis-xy {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.cookie_box {
    z-index: 1255;
    background-color: $dark-color;
}

.bm-progress-bar {
    background-color: $darkest-color;
    height: 2.5rem;
    width: 100%;
}

.bm-progress-bar-text {
    text-shadow: 1px 1px $darkest-color;
}

.notransition {
    transition: none!important;
}

.faq-question {
    font-weight: 300;
}
