/* ------------------ */
/* Styling bar charts */
/* ------------------ */

.bm-bar-chart {
    display: grid;
    grid-template-columns: auto;
    row-gap: 0.5rem;
}

.bm-title {
    font-size: 2.25rem;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
}

.bm-subtitle {
    color: #999999;
    text-align: center;
    margin-bottom: 0.5rem;
    margin-top: -0.5rem;
    font-size: 90%;
}

.bm-row,
.bm-legend {
    display: grid;
    grid-template-columns: minmax(200px, 30%) auto;
    grid-template-areas: "name bar";
    column-gap: 15px;
}

.bm-legend {
    grid-template-areas: "title items";
    margin-top: 15px;
}

.bm-legend-title {
    grid-area: title;
    text-align: right;
}

.bm-legend-item {
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
    display: inline-block;
    border: 1px solid #fff;
    text-shadow: 1px 0 1px #000, 0 1px 1px #000;
}


.bm-key-title,
.bm-bar-title,
.bm-tooltip-key-title,
.bm-tooltip-value-title {
    color: #999999;
    text-align: center;
    font-size: 90%;
}

.bm-key-title {
    grid-area: name;
}

.bm-bar-title {
    grid-area: bar;
    border-bottom: 1px solid #999999;
    position: relative;
}

.bm-bar-min {
    position: absolute;
    left: 0px;
    bottom: 0px;
    transform: translate(-25%, 50%);
    background-color: #343a40;
    padding-right: 5px;
}

.bm-bar-max {
    position: absolute;
    right: 0px;
    bottom: 0px;
    transform: translate(25%, 50%);
    background-color: #343a40;
    padding-left: 5px;
}

.bm-bar-final-value {
    position: absolute;
    right: 0px;
    bottom: 50%;
    transform: translate(120%, 50%);
}

.bm-width-marker-top {
    position: relative;
    padding-bottom: 5px;
    margin-bottom: 7px;
}

.bm-width-marker-top:before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0px;
    height: 8px;
    width: calc(100% + 8px);
    transform: translate(-50%, 100%);
    border-left: 1px solid #999999;
    border-right: 1px solid #999999;
    border-top: 1px solid #999999;
    border-radius: 5px 5px 0 0;
}

.bm-width-marker-bottom {
    position: relative;
    border-bottom: 1px solid #999999;
}

.bm-width-marker-bottom:after,
.bm-width-marker-bottom:before {
    content: '';
    position: absolute;
    bottom: 0px;
    height: 33%;
    border-left: 1px solid #999999;
}

.bm-width-marker-bottom:after {
    right: 0px;
}

.bm-width-marker-bottom:before {
    left: 0px;
}

.bm-key {
    grid-area: name;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
}

.bm-bar {
    grid-area: bar;
    display: grid;
}

.bm-bar-element {
    border: 1px solid #fff;
    border-left-width: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 70%;
    max-height: 20px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.bm-bar:hover>.bm-bar-element,
.bm-legend-item:hover {
    box-shadow: 0 0 5px 1px white;
}

.bm-bar-element:first-of-type {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-left-width: 1px;
}

.bm-bar-empty-space {
    border: 1px solid red;
    background-color: grey;
}

.bm-bar-element:nth-last-of-type(1) {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}


.bm-bar-group-1 {
    background-color: #7cb5ec;
}

.bm-bar-group-2 {
    background-color: #434348;
}

.bm-bar-group-3 {
    background-color: #90ed7d;
}

.bm-bar-group-4 {
    background-color: #f7a35c;
}

.bm-bar-group-5 {
    background-color: #8085e9;
}

.bm-bar-group-6 {
    background-color: #f15c80;
}

.bm-bar-group-7 {
    background-color: #e4d354;
}

.bm-bar-group-8 {
    background-color: #2b908f;
}

.bm-bar-group-9 {
    background-color: #f45b5b;
}

.bm-bar-group-10 {
    background-color: #91e8e1;
}


.bm-tooltip-container {
    display: grid;
    grid-template-columns: auto;
    row-gap: 0.1rem;
    padding: 10px;
}

.bm-tooltip-title {
    font-size: 120%;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 10px;
}

.bm-tooltip-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "key value";
    column-gap: 15px;
}

.bm-tooltip-key-title {
    grid-area: key;
}

.bm-tooltip-value-title {
    grid-area: value;
}

.bm-tooltip-key,
.bm-tooltip-value {
    text-align: center;
}

.bm-tooltip-key {
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
    display: inline-block;
    border: 1px solid #fff;
    text-shadow: 1px 0 1px #000, 0 1px 1px #000;
}

.bm-tooltip-width-marker-bottom {
    position: relative;
    padding-bottom: 5px;
    margin-bottom: 7px;
}

.bm-tooltip-width-marker-bottom:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0px;
    height: 8px;
    width: calc(100% + 8px);
    transform: translate(-50%, 100%);
    border-left: 1px solid #999999;
    border-right: 1px solid #999999;
    border-top: 1px solid #999999;
    border-radius: 5px 5px 0 0;
}

.bm-tooltip-width-marker-top {
    position: relative;
    padding-top: 5px;
    margin-top: 7px;
}

.bm-tooltip-width-marker-top:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 0px;
    height: 8px;
    width: calc(100% + 8px);
    transform: translate(-50%, -100%);
    border-left: 1px solid #999999;
    border-right: 1px solid #999999;
    border-bottom: 1px solid #999999;
    border-radius: 0 0 5px 5px;
}

.bm-unit {
    font-size: 80%;
    color: #999999;
}


/* ---------- */
/* Stat table */
/* ---------- */
.bm-stat-table {
    display: table;
    text-align: left;
}

.bm-stat-header {
    display: table-header-group;
}

.bm-stat-row {
    display: table-row;
}

.bm-stat-cell {
    display: table-cell;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: middle;
}

.bm-stat-cell-stat {
    text-align: right;
}

/* ------------------- */
/* Styling radar chart */
/* ------------------- */

/* ---------------------------------- */
/* | bm-radar-root                  | */
/* | ------------------------------ | */
/* | | bm-radar-top               | | */
/* | ------------------------------ | */
/* | ------------------------------ | */
/* | | bm-radar-center            | | */
/* | | -------------------------- | | */
/* | | | Ratio | Radar | Maxima | | | */
/* | | -------------------------- | | */
/* | ------------------------------ | */
/* ---------------------------------- */
.bm-radar-root {
    justify-content: center;
}

.bm-radar-center {
    display: flex;
    flex-direction: row;
    column-gap: 1.1rem;
}


.bm-radar-background {
    fill: none;
    stroke: white;
    stroke-width: 1;
    stroke-opacity: 0.7;
    text-anchor: middle;
}

.bm-radar-legend {
    fill: white;
    fill-opacity: 0.7;
    text-anchor: middle;
}

.bm-radar-object {
    fill: aqua;
    stroke: aqua;
    stroke-width: 3;
    fill-opacity: 0.2;
    stroke-opacity: 0.9;
}

.bm-radar-object-value {
    paint-order: stroke;
    stroke: black;
    stroke-width: 2px;
    text-anchor: middle;
    fill: white;
}

.bm-radar-mini-table-value {
    display: table-cell;
    padding-left: 5px;
    vertical-align: middle;
    text-align: right;
}

/* ------------------- */
/* Styling bm-tooltips */
/* ------------------- */

.bm-tooltip {
    --border-width: 1px;
    --border-style: solid;
    --border-color: white;
    --border-radius: 5px;

    --arrow-color: white;

    --color: white;
    --background-color: #232227;

    max-width: 225px;
}
