/* --------------- */
/* Styling tooltip */
/* --------------- */

.wowhead-tooltip .wowhead-tooltip-requirements {
    display: none;
}

.whtt-tooltip-icon {
    /* display: none; */
    border: 1px solid #999999 !important;
    background: #232227;
}

.wowhead-tooltip td,
.wowhead-tooltip th {
    background: none;
}

.wowhead-tooltip {
    background: #232227;
    border: 1px solid #999999 !important;
}
