Django~=2.1.2
django-allauth
requests
libsass
django-compressor
django-sass-processor
django-crispy-forms
google-api-python-client
pymysql
django-storages[google]
django-vinaigrette
django-cors-headers
