Django~=2.1.2
django-allauth~=0.38.0
requests~=2.20.1
libsass~=0.15.1
django-compressor~=2.2
django-sass-processor~=0.7.1
django-crispy-forms~=1.7.2
django-bootstrap4~=0.0.7
google-api-python-client~=1.7.7
pymysql
django-storages[google]
